/* ------------------------ MAIN BLOG ----------------------- */

body {
  overflow-x: hidden;
  background-color: #dbffab;
  font-family: sans-serif, "Gill Sans MT", "Calibri", "Constantia", "Consolas";
}

.blog {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

hr {
 border-top: 3px solid darkslategrey;
}

.blogheading {
  font-size: 42px;
  color: darkslategrey;
  padding-bottom: 0px;
  border: 0px;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.paragraph {
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

.blogtext {
  border-color: whitesmoke;
  border-style: ridge;  
  border-radius: 10px;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
}
.blogtext:hover {
  box-shadow: 0 9px 15px #9AA88A;
}

.textheader {
  font-size: 24px;
  text-transform: uppercase;
}

.textblock {
  font-size: 18px;
  font-style: oblique;
  border: 1px solid white;
  border-left: 5px solid deepskyblue;
  page-break-inside: avoid;
  line-height: 1.6;
  padding: 1em 1.5em;
  background-color: whitesmoke;
  word-wrap: break-word;
  border-radius: 3px;
  overflow-x: auto;
}


hr {
  border-top: 3px solid darkslategrey;
}

/* Responsive css  */
@media only screen and (max-width: 720px) {
  .blogheading p {
    padding-top: 48px;
  }
}